export upload_list=/nexus/posix0/MAGE-flaski/service/posit/home/aiqbal/nf-irf-dev/IRfinder.xlsx.upload

export top=/nexus/posix0/MAGE-flaski/service/posit/home/aiqbal/nf-irf-dev/
export project_folder=/nexus/posix0/MAGE-flaski/service/posit/home/aiqbal/nf-irf-dev
export project_archive=/nexus/posix0/MAGE-flaski/ftp_data/IRfinder_test/
export store_age_folder=/nexus/posix0/MAGE-flaski/ftp_data/IRfinder_test/
export raw=/nexus/posix0/MAGE-flaski/service/posit/home/aiqbal/nf-irf-dev/raw_data/

## export series=at_ardrecsplicing
export ERCC=NO
export scripts_folder=/nexus/posix0/MAGE-flaski/service/posit/home/aiqbal/nextflow-IRFinder
export spec=celegans

## export DAVIDUSER=jorge.boucas@age.mpg.de
## export WIKIgit=git@github.molgen.mpg.de:mpg-age-bioinformatics/AA_at_ardrecsplicing.wiki.git
## export WIKIweb=https://github.molgen.mpg.de/mpg-age-bioinformatics/AA_at_ardrecsplicing/wiki
## export project=AA_at_ardrecsplicing
## export paired=
## export emails="kkawamura@age.mpg.de"

export pipe_file_name=IRfinder_pipeline.sh
